.outer {
  position: sticky;
  top: calc(40px - 64px);
  display: flex;
  align-items: center;
  height: 64px;
  background-color: white;
  border-bottom: 1px solid #eee;
}

.inner {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 640px;
  height: 40px;
  margin: 0 auto;
  padding: 0 16px;
}

.nav {
  display: flex;
  align-items: center;
}

.navItem:not(:first-child) {
  margin-left: 24px;
}
